<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

	<context:component-scan base-package="org.command4spring"/>

	<!-- JMS environment settings -->
	<!-- 	Activemq connection factory -->
	<bean id="AmqConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<constructor-arg index="0" value="vm://localhost?broker.persistent=false" />
	</bean>
	<!-- 	ConnectionFactory Definition -->
	<bean id="ConnectionFactory"
		class="org.springframework.jms.connection.CachingConnectionFactory">
		<constructor-arg ref="AmqConnectionFactory" />
	</bean>
	<!-- 	Default Destination Queue Definition -->
	<bean id="CommandDestination" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg index="0" value="QUEUE.COMMAND" />
	</bean>
	<!-- 	Default Destination Queue Definition -->
	<bean id="ResultDestination" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg index="0" value="QUEUE.RESULT" />
	</bean>

	<!-- Listener that receives results -->
	<bean id="ResultJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="ConnectionFactory" />
		<property name="defaultDestination" ref="ResultDestination" />
	</bean>
	<bean id="ResultMessageListener" class="org.command4spring.jms.result.ResultMessageListener"/>
	<bean id="ResultMessageListenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="ConnectionFactory" />
		<property name="destination" ref="ResultDestination" />
		<property name="messageListener" ref="ResultMessageListener" />
	</bean>

	<!-- Dispatcher that sends through JMS -->
	<bean id="CommandJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="ConnectionFactory" />
		<property name="defaultDestination" ref="CommandDestination" />
	</bean>
	<bean id="CommandJmsDispatcherService" class="org.command4spring.jms.service.DefaultJmsDispatcherService">
		<property name="jmsTemplate" ref="CommandJmsTemplate"/>
		<property name="resultMessageListener" ref="ResultMessageListener"/>
	</bean>
	
	<!-- Listener that processes the command -->
	<bean id="CommandMessageListener" class="org.command4spring.jms.service.DispatcherMessageListener">
		<property name="resultJmsTemplate" ref="ResultJmsTemplate"/>
	</bean>
	<bean id="CommandMessageListenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="ConnectionFactory" />
		<property name="destination" ref="CommandDestination" />
		<property name="messageListener" ref="CommandMessageListener" />
	</bean>
	


</beans>
